<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>4020G3A2</display-name>
  <welcome-file-list>
    <welcome-file>ITEC4020-A2.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>RequestFilter</filter-name>
    <filter-class>RequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ProgramServlet</servlet-name>
    <servlet-class>ProgramServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramServlet</servlet-name>
    <url-pattern>/program</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RescheduleServlet</servlet-name>
    <servlet-class>RescheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RescheduleServlet</servlet-name>
    <url-pattern>/reschedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>ReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/posting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/ITEC4020-A2.jsp</location>
  </error-page>
</web-app>